<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <title>Formulario Agregar Producto</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/dd34f7d4ea.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="agregar-productos">
        <h1>Agregar un nuevo Producto</h1>

        <div class="div-formulario-producto">
            <form action="/guardar" method="post" enctype="multipart/form-data" class="formulario-producto">
                <div class="div-nombre">
                    <label for="nombre">Nombre del producto:</label>
                    <input type="text" name="nombre" id="nombre" required maxlength="100">

                </div>

                <div class="div-descripcion">
                    <label for="descripcion">Descripción:</label>
                    <textarea name="descripcion" id="descripcion" required maxlength="300"></textarea>

                </div>

                <input type="file" name="imagen" id="imagen">

                <button type="submit" class="boton" id="boton-guardar">Guardar producto</button>
            </form>
        </div>

        <a href="/" class="cargar-ver-prod">Ver productos</a>

    </div>
</body>

</html>