<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Agregar Producto</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Agregar un nuevo Producto</h1>
    <form action="/guardar" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre del producto:</label>
        <input type="text" name="nombre" id="nombre"><br><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion"></textarea><br><br>

        <input type="file" name="imagen" id="imagen"><br>

        <button type="submit">Guardar producto</button>
    </form>

    <br>

    <a href="/">Ver productos</a>
</body>

</html>