<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprendimiento</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Bienvenido a mi página jijolín</h1>

    <div class="productos">
        {{range .}}
        <h2>{{.Nombre}}</h2>
        <p>{{.Descripcion}}</p>
        <p>El ID de este producto es: {{.ID}}</p>

        {{if .Imagen.Valid}}
        <img src="{{.Imagen.String}}" alt="Imagen del producto" width="200">
        {{else}}
        <p><em>No hay imagen</em></p>
        {{end}}

    </div>
    {{end}}
</body>

</html>