<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <title>Emprendimiento</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1><a href="index.html">Bienvenido a mi página jijolín</a></h1>

    <a href="/formulario">Cargar productos</a>

    <form action="/buscar" method="get">
        <input type="text" name="busqueda" placeholder="Buscar productos..." required>
        <button type="submit">Buscar</button>
    </form> <br><br>

    <div class="div-principal">

        {{range .}}
        <div class="productos">
            <h2>{{.Nombre}}</h2>
            <p>{{.Descripcion}}</p>
            <p>El ID de este producto es: {{.ID}}</p>

            <div id="imagenes">
                {{if .Imagen.Valid}}
                <img src="{{.Imagen.String}}" alt="{{ .Nombre }}">
                {{else}}
                <p><em>No hay imagen</em></p>
                {{end}}
            </div>
            <br><br>
            <!-- Formulario para eliminar producto -->
            <form action="/eliminar" method="post"
                onsubmit="return confirm('¿Estás seguro de que querés eliminar este producto?');">
                <input type="hidden" name="id" value="{{.ID}}">
                <button type="submit">Eliminar</button>
            </form>
        </div>
        {{end}}
    </div>

</body>

</html>